x-logging: &logging
  logging:
    driver: 'json-file'
    options:
      max-size: '200k'
      max-file: '10'

services:
  local-testnet:
    <<: *logging
    build:
      context: ./local-network
    depends_on:
      # We need the file server here in order to calculate the pool metadata hashes
      file-server:
        condition: service_healthy
    environment:
      CARDANO_NODE_LOG_LEVEL: ${CARDANO_NODE_LOG_LEVEL:-Info}
      CARDANO_NODE_CHAINDB_LOG_LEVEL: ${CARDANO_NODE_CHAINDB_LOG_LEVEL:-Notice}
      NETWORK_SPEED: ${NETWORK_SPEED:-fast}
    ports:
      - 3001:3001
    volumes:
      # This breaks running in Docker Desktop for macOS, is it *really* needed? I see no usage of cardano-cli in the repo
      #- ./local-network/network-files/node-sp1/:/root/network-files/node-sp1
      - ./local-network/config:/root/config
      - sdk-ipc:/sdk-ipc

  file-server:
    <<: *logging
    image: nginx:${NGINX_VERSION:-1.22.1-alpine}
    volumes:
      - ./local-network/file-server:/usr/share/nginx/html
    ports:
      - ${FILE_SERVER_PORT:-7890}:80
    environment:
      NGINX_PORT: 80
    healthcheck:
      test: ['CMD-SHELL', 'wget -O /dev/null http://localhost || exit 1']
      start_period: 5s
      interval: 5s
      timeout: 2s

  cardano-node:
    depends_on:
      local-testnet:
        condition: service_healthy
    volumes:
      - ./local-network/config/network/cardano-node:/config
      - ./local-network/config/network/genesis:/genesis

  ogmios:
    depends_on:
      local-testnet:
        condition: service_healthy
    entrypoint: ['bin/sh', '/scripts/ogmios-start.sh']
    volumes:
      - ./local-network/config/network:/config
      - ./local-network/scripts:/scripts
      - sdk-ipc:/sdk-ipc

  cardano-db-sync:
    depends_on:
      file-server:
        condition: service_healthy
    volumes:
      - ./local-network/config/network:/config

  cardano-smash:
    volumes:
      - ./local-network/config/network:/config

  cardano-submit-api:
    depends_on:
      local-testnet:
        condition: service_healthy
    volumes:
      - ./local-network/config/network:/config

  handle-projector:
    environment:
      HANDLE_POLICY_IDS_FILE: /sdk-ipc/handle_policy_ids
    volumes:
      - sdk-ipc:/sdk-ipc

  provider-server:
    environment:
      HANDLE_POLICY_IDS_FILE: /sdk-ipc/handle_policy_ids
      TOKEN_METADATA_SERVER_URL: stub://
    volumes:
      - ./local-network/config/network:/config
      - sdk-ipc:/sdk-ipc

  handle-provider-server:
    environment:
      HANDLE_POLICY_IDS_FILE: /sdk-ipc/handle_policy_ids
      TOKEN_METADATA_SERVER_URL: stub://
    volumes:
      - ./local-network/config/network:/config
      - sdk-ipc:/sdk-ipc

  asset-provider-server:
    environment:
      HANDLE_POLICY_IDS_FILE: /sdk-ipc/handle_policy_ids
    volumes:
      - ./local-network/config/network:/config
      - sdk-ipc:/sdk-ipc

  stake-pool-projector:
    environment:
      METADATA_JOB_RETRY_DELAY: 60
      POOLS_METRICS_INTERVAL: 50

volumes:
  sdk-ipc:
    driver: local
    driver_opts:
      device: ./local-network/sdk-ipc
      o: bind
      type: none
