packages/**/coverage
packages/**/dist
packages/**/node_modules
packages/**/test

packages/e2e/src
packages/e2e/local-network
packages/e2e/logs

**/*.md
**/*.yml

**/.env*
**/.*ignore

**/LICENSE
**/NOTICE
**/jest.config.js

!.yarnrc.yml
!app/packages/**/node_modules
!packages/e2e/src/tsconfig.json
