
.container {
    display: flex;
    flex-direction: row;
    padding: 20px;
}


.actions-container {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    padding-right: 20px;
}

.details-container {
    display: flex;
    flex-direction: column;
}

.header { 
    padding: 0 20px;
}

.text { 
    padding: 10px 0;
}

.action { 
    margin: 10px;
    padding: 10px;
}