name: STD-on-release

on:
  release:
    types: [published]

jobs:
  call-std:
    if: startsWith(github.event.release.name, '@cardano-sdk/cardano-services@')
    uses: ./.github/workflows/std.yml
    with:
      deploy-staging-preprod: true
      deploy-dev-preprod: true
      deploy-dev-mainnet: true
    # Secrets have to be passed explicitly even if callee is in the same repo:
    secrets:
      AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
